* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  /* outline: 1px solid whitesmoke;*/
}

body {
   background-color: whitesmoke;
}

header,
main,
footer {
   max-width: 1680px;
   display: grid;
}

main {
   background-color: whitesmoke;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: whitesmoke;
}

.container {
   max-width: 1680px;
}

/*..................NAVEGATION MENU..................*/
.collapse {
   display: flex;
   justify-content: center;
}

.navbar-brand {

   font-family: 'Shadows Into Light', Arial, Helvetica, sans-serif;
   font-size: 1.5;
}

.navbar-nav .nav-link.active {

   font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
}

/*.....................PRODUCTS.........................*/

.banner {

   max-width: 850px;
}

.shop__content {

   display: flex;
}

#productsContainer {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: #e93b5b;
   margin: 1.2rem;
   padding: 1.5rem;
   border-radius: 10px;

}

.shop_card_product {
   width: 100%;
   background-color: whitesmoke;
   border-radius: 10px;
   padding: 5px;
}

.card {
   width: 100%;
}

.buy__btn {
   width: 100%;
}

.img-container {
   max-width: 150px;
}

.img__product{
   background-color: whitesmoke;
}

/*.......................SHOPPING CART MODAL..........*/

.modal-content{

   background-color: #e93b5b;
}


/*.....................FOOTER.........................*/
footer {
   background-color: #423939;
   justify-content: center;
}

ul>li {
   padding: 0.5rem;
   text-decoration: none;
}