/*.............NAVBAR..................*/

.navbar-expand-md .navbar-collapse {

    justify-content: space-around;
}

.navbar-brand {

    font-size: 2rem;
}

.navbar-nav .nav-link.active {
    font-size: 1.2rem;
}

.navbar-nav .nav-link.active {
    color: #e93b5b;
}


/*..................CARROUSEL..................*/

.carousel__container {

    margin: auto;
}

.carousel__container div>img {
    max-height: 550px;
    margin: auto;
}

/*...........PRODUCTS...............*/

#productsContainer {
    display: flex;
    flex-wrap: wrap;

}

.shop_card_product {
    width: 280px;
}

/*.....................FOOTER.........................*/

footer {

    justify-content: left;
}