/*.............NAVBAR..................*/
.navbar-nav>a {

    cursor: pointer;
}

.navbar-nav>a:hover {

    color: #e93b5b;
}

/*...........PRODUCTS...............*/


.img-container{
    max-width: 350px;
}