*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #e93b5b;
}

li{
   list-style: none;
}
/*..................NAVEGATION MENU..................*/
.collapse{
   display: flex;
   justify-content: center;
}

.navbar-brand{

   font-family: 'Shadows Into Light', Arial, Helvetica, sans-serif;
   font-size: 1.5;
}

.navbar-nav .nav-link.active {

   font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
}

/*.....................PRODUCTS.........................*/
.shop__content{

   display: flex;
   flex-direction: column;
}

#productsContainer{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.card{
   width: 100%;
}

.buy__btn{
   width: 100%;
}


/*.....................FOOTER.........................*/
footer{
    background-color:#423939;
}