/*.............NAVBAR..................*/

.navbar-expand-md .navbar-collapse{

    justify-content: space-around;
}

.navbar-brand{

    font-size: 2rem;
}

.navbar-nav .nav-link.active{
    font-size: 1.2rem;
}

.navbar-nav .nav-link.active{
    color: #e93b5b;
}

/*...........................*/
main{
    max-width: 1680px;
}

/*...........PRODUCTS...............*/

.shop__content{
    justify-content: space-around;
    flex-wrap: wrap;
}

#productsContainer{

    gap: 4rem;
    margin: 1rem;
}
.card{
    width: 20%
}
